---
---
@import "minima";   /* 保留原主题样式 */

body {
  background-image: url('/assets/img/IMG_9661.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
